{% extends 'base.html' %}
{% load static %}

{% block title %}Sign up {% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
</head>
<body>
    <div class="container" style="text-align:left;">
    <br>
    <br>
    <br>
    <h1 class="title">Sign up</h1>
    <br>
    <br>
        <form method="post">
                {% csrf_token %}
                {% for field in form %}
                  <p>
                     {{ field.label_tag }}<br>
                     {{ field }}
                     {% if field.help_text %}
                        <small style="color: grey">{{ field.help_text }}</small>
                     {% endif %}
                     {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                     {% endfor %}
                  </p>
                {% endfor %}
                <input  class ="primary-btn order-submit" type="submit" value="Sign up">
        </form> 
    </div>    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</body>
</html>        
{% endblock %}